.summary-box{
    height: 48px;
    width: 376px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    margin-left: 540px;
    margin-top: -600px;
}
.summary-title{
    text-align: center;
    color: black;
    margin-bottom: 15px;
}
h5{
    color: gray;
}
h6{
    color: gray;
}