@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Montserrat", cursive;
    margin: 0;
}

body{
  background: white;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{
/*  max-width: -578px;*/
  width: 900vw;
  display:flex;
/*  border: 1px solid #e9ecef;full border*/
  border-radius: 5px;
  left: 250px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > .title{
  text-align: left;
}


#form > .btn{
  
  color: rgb(177, 126, 31);
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  width: 310px;
  height: 60px;
  top: 133px;
  background: #D6B27D;
  border-radius: 15px;
}

.flex{
  display: flex;
  gap: 1em;
}

.mycart{
  position: absolute;
  top: 100%;
  bottom: 100%;
  border-radius: 16px;
}

.product-img{
    height: 80px;
    width: 80px;
    border-radius: 32px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    margin-top: -600px;
    margin-bottom: -100px;
    margin-left: 100px;
}
.product-img1{
    height: 50px;
    width: 50px;
    border-radius: 32px;
    top: 100px;
    bottom: 0px;
    position: absolute;
    margin-top: -600px;
    margin-bottom: -100px;
    margin-left: 100px;
    margin-right: -90px;
}
.product-title{
  
  margin-top: -580px;
  margin-bottom: -100px;
  margin-left: -900px;
  text-align: right;
  position: relative;
}
.price{
  margin-right: -650px;
  margin-top: 110px;
  margin-left: -100px;
}
.prod-title1{
  margin-top: 50px;
  margin-bottom: -900px;
  margin-left: 600px; 
  position: relative;
}
.price1{
  margin-right: -650px;
  margin-top: 900px;
  margin-left: -100px;
}
.btn-success{
  margin-left: 500px;
  position: relative;
  margin-top: -70px;
}
.total{
  margin-left: 400px;
  margin-top: 50px;
}
.btn-success{
  margin-bottom: -800px;
}

.product-img1{
    height: 92px;
    width: 92px;
/*    top: 1430px;*/
    border-radius: 32px;

}



.flex-col{
  flex-direction: column;
  box-sizing: border-box;

  position: absolute;
  width: 600px;
  height: 512px;
  left: 90px;
/*  top: 641px;*/
  border: 2px solid #F6F7FB;
  border-radius: 48px;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}
.email-box{
  height: 250px;
  width: 900px;
  margin-left: 220px;
  text-align: center;
  left: 0px;
  top: 0px;
  margin-top: 400px;
  border-radius: 56px;
  border: solid;
  /* border-radius: 2px;
   */
   border-width: 1px;
  border-color: #FFE5D8;
  background: #FFE5D8;
  border: 1px solid #FFE5D8;
}


/*.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}*/

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}
